/*************************
Secção Produto e Interação 3D
*************************/

.container_produto {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    background-color: #fff;
    margin-left: 40px;
    gap: 30px;
}

/* Galeria de Imagens */
.galeria_fotos_produto {
    max-width: 49%;
    display: flex;
    flex-direction: column; /*Miniaturas em baixo da foto produto*/
    gap: 10px;
    align-items: center;
    text-align: center;
}


.miniaturas {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.miniatura {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border 0.3s;
}

.miniatura:hover {
    border: 2px solid #d65d69;
}


#imagem_principal_produto {
    position: relative;
   
}

#modelo_3d {
    display: none; /* Escondido por padrão */
    border: 1px solid #000000;
    max-width: 450px;
    max-height: 450px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    
}


#animation_buttons button,
#control_buttons button {
    width: auto;
    padding: 10px 20px;
    text-align: center;
}

/* Breadcrumb e Título do Produto */
.breadcrumb_produto {
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
}

.resultado_pesquisa_navegacao {
    font-size: 14px;
    color: #6b7280;
}

.breadcrumb_link {
    color: #6b7280;
    text-decoration: none;
}

.breadcrumb_link:hover {
    text-decoration: underline;
}

.breadcrumb_atual {
    color: #363636;
    font-weight: bold;
}

.detalhes_produto_titulo {
    margin-top: 60px;
}

.marca_produto_candeeiro {
    font-size: 14px;
    color: #e3e4e6;
    font-weight: normal;
    margin-top: 30px;
}

.marca_produto_candeeiro {
    font-size:14px;
    font-weight: 550;
    color: #969696; 
}


.nome_produto {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}



/* Container principal */
.opcoes_produto {
    display: flex; /*Ajustar o espaçamentro entre os 4 campos de opcoes*/
    flex-direction: column; /*Ficar ao lado da figura e das miniaturas*/
    gap: 20px;
    margin: 20px 0;
}

/* Linha de opções */
.opcoes_linha {
    display: flex; /*Lado a lado*/
    gap: 20px;
}

/* Caixa de cada opção */
.caixa_opcao {
    border: 5px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column; /*Por baixo de textura*/
    gap: 10px;
    background-color: #fff;
}
.caixa_opcao2 {
    flex: 1; /*Ocupar espaçamento ate ao final*/
    border: 5px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row; /*Por baixo de cores e à frente de cores*/
    gap: 10px;
    background-color: #fff;
}

/* Título da opção */
.titulo_opcao {
    font-size: 14px;
    font-weight: bold;
    color: #6b7280;
   
}

/* Texturas disponíveis */
.cores_disponiveis_produto {
    gap: 10px;
}

.cor_div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.cor {
    width: 30px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}


.quantidade_preco_candeeiro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

/* Campo Quantidade */
.campo_quantidade_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.campo_quantidade {
    width: 50px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
}

/* Ícone do carrinho */
.icone_carrinho {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.cart_button {
    background-color: #d04755e1;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Preço */
.preco_candeeiro_container {
    display: flex;
    flex-direction: column; /*Alinhar o preco riscado com o preco*/
    margin-right: 20px;
    gap: 3px;
}

.preco_antigo {
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #999;
    font-weight: 700;
}

.preco_riscado {
    text-decoration: line-through;
}

/* Desconto */
.desconto {
    font-size: 14px;
    color: #999;
}

.preco_atual_candeeiro {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}
/* Informações de envio */
.informacoes_envio p {
    font-size: 11px;
    color: #6b7280;
    margin-top: 12px;
}




/* Contêiner do botão Klarna */
.botao_klarna {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #6b7280;
}

/* Imagem Klarna */
.imagem_klarna {
    width: 50px;
    height: auto;
}

/* Link Saber Mais */
.link_saber_mais {
    color: #6b7280;
    text-decoration: underline;
    cursor: pointer;
}

.link_saber_mais:hover {
    color: #000;
}


/* Container do botão e ícone */
.botao_carrinho_container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o botão e o ícone */
    justify-content: center;
    margin-top: 20px;
}

/* Botão principal */
.botao_carrinho {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    flex-grow: 1; /*Ocupar o espaço todo*/
    text-align: center;
    transition: background-color 0.3s;
}

.botao_carrinho:hover {
    background-color: #333;
}

/* Ícone de coração */
.icone_coracao {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s;
}

.icone_coracao:hover {
    transform: scale(1.2);
}

/*************************
Secção Ajuste para Telas menores (como nao estava tao responsivo para telas pequenas, optamos por implementar este ajuste)
*************************/

/* Responsividade */
@media (max-width: 768px) {
    .opcoes_linha {
        flex-direction: column;
    }
}

/* Ajuste geral para telas pequenas */
@media (max-width: 768px) {

    /* Container principal ocupa toda a largura */
    .container_produto {
        gap: 20px;
    }

    /* Galeria ocupa 100% da largura */
    .galeria_fotos_produto {
        max-width: 100%;
        width: 100%;
    }

    .imagem_principal_produto {
        width: 90%;
        /* A imagem principal ocupa 100% */
    }

    /* Miniaturas centralizadas e responsivas */
    .miniaturas {
        gap: 10px;
    }

    .miniatura {
        width: 60px;
        height: 60px;
    }

    /* Detalhes do produto ocupam 100% */
    .detalhes_produto_principal {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }

    /* Botão Klarna e Juntar ao Carrinho centralizados */
    .botao_klarna,
    .botao_carrinho_container {
        width: 100%;
        text-align: center;
    }
}


/*************************
Secção Descriçãp Produto
*************************/
.descricao_produto {
    display: flex; /*Organizar as duas divs principais para ficarem em linha*/
    padding: 20px;
    gap: 20px;
    margin-left: 20px;
}

.descricao_artigo_texto{
    font-size: 27px;
}

/* Detalhes do Produto */
.detalhes_produto {
    flex: 1;
    max-width: 60%;
}

.titulo_produto {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.referencia_produto {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;

}

.descricao_texto {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.subtitulo_produto {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lista_descricao,
.lista_dimensoes {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.lista_descricao li,
.lista_dimensoes li {
    margin-bottom: 10px;
}

/* Galeria de Imagens */
.galeria_produto {
    flex: 1;
    max-width: 35%;
    position: relative;
    margin-right: 50px;;
}

.imagem_principal {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}


/*************************
Secção Avaliações Clientes - Todos
*************************/

/* Produtos Relacionados */
.produtos_relacionados {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.titulo_relacionados {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.lista_relacionados {
    display: flex; /*Organizar produtos da lista*/
    gap: 20px;
    overflow-x: auto; /*Caso existam mais produtos, ativa scroll horizontal*/
    padding-bottom: 10px;
}

.produto_relacionado {
    flex: 0 0 220px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.produto_relacionado img {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    border-radius: 5px;
}

.nome_marca {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.nome_produto {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}


/* Preço */
.preco {
    align-items: left;
    gap: 3px;
}

/* Preço Antigo */
.preco_antigo {
    font-size: 13px;
    color: #999;
}

/* Valor Antigo Riscado */
.valor_antigo {
    text-decoration: line-through;
    font-weight: bold;
}

/* Desconto */
.desconto {
    color: #999;
    margin-left: 5px;
    font-weight: bold;
}

/* Preço Atual */
.preco_atual {
    font-size: 13px;
    color: #000000;
    font-weight: bold;
}


/*************************
Secção Avaliações Clientes - Todos
*************************/
.avaliacoes_clientes {
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo_avaliacoes {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Layout Flexbox */
.conteudo_avaliacoes {
    display: flex;
    gap: 30px;
}

/* Imagem do Produto */
.imagem_produto img {
    max-width: 200px;
    border-radius: 5px;
}

/* Média de Avaliações */
.media_avaliacoes {
    text-align: left;
}

.valor_media {
    font-size: 25px;
    font-weight: bold;
    margin-top: 70px;
}

.avaliacao_estrelas {
    display: flex; /*152 á frente das estrelas*/
    align-items: center;
    gap: 10px;
}

/* Estrelas */
.estrelas_media {
    font-size: 17px;
    color: #f5a623;
}

/* Número de Avaliações */
.numero_avaliacoes {
    font-size: 10px;
    color: #555;
    margin-top: 3px;
}

.texto_media {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.link_avaliacoes {
    display: flex; /*Organizar à frente do i de informacao*/
    gap: 5px;
    font-size: 14px;
    margin-top: 20px;
}

/* Texto com Link Subilinhado */
.texto_link {
    color: #000000;
    text-decoration: underline;
}

/* Distribuição das Avaliações */
.distribuicao_avaliacoes {
    flex: 2; /*Garantir espaçamento*/
}

.linha_avaliacao {
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.linha_avaliacao {
    display: flex; /*Organiza a linha da estrela, a barra e o numero de availacoes*/
}

.numero_estrela {
  
    font-weight: 100;
    color: #000000;
    
}

.estrela {
    font-size: 16px;
    color: #f5a623;
    margin-right: 5px;
}

.barra {
    flex: 1;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.barra_preenchida {
    height: 100%;
    background-color: #f5a623;
}

.quantidade {
    width: 30px;
    text-align: right;
}

/* Percentagem de Recomendação */
.percentagem_recomendacao {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #333;
    margin-top: -5px;
}

.icone_recomendacao {
    font-size: 24px;
    color: #2c7b2f;
}



/*************************
Secção Filtrar e ordendar Reviews
*************************/

.filtro_ordenacao {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Cada Opção de Filtro */
.filtro_opcao,
.ordenacao_opcao,
.ver_avaliacoes,
.idioma_opcao {
    gap: 5px;
}

/* Setas */
.seta {
    font-size: 16px;
    font-weight: bold;
   
}

/* Linhas Divisórias */
.linha_divisoria {
    border: none;
    border-top: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
}


/*************************
    Secção em Avaliação Cliente
*************************/
.avaliacao_detalhada {
    padding: 20px;
    margin-top: 5px;
}

/* Layout Flexbox para o Conteúdo */
.conteudo_avaliacao {
    display: flex;
    gap: 40px;
}

/* Parte Esquerda: Texto da Avaliação */
.texto_avaliacao {
    flex: 2; /*Fica no tamanho e na posicao ideal*/
}

/* Cabeçalho da Avaliação */
.cabecalho_avaliacao {
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.estrelas_avaliacao {
    font-size: 20px;
    color: #f5a623;
}

.data_avaliacao {
    color: #131313;
    font-size: 14px;
    margin-top: 5px;;
}

/* Título e Descrição */
.titulo_avaliacao {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

.descricao_avaliacao {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-left: 20px;
}

/* Recomendação texto a verde */
.recomendacao {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #2c7b2f;
    margin-bottom: 10px;
    margin-left: 20px;
}

.recomendacao img {
    width: 20px;
    height: 20px;
}

/* Informação do Cliente */
.info_cliente {
    font-size: 14px;
    color: #555;
    margin-left: 20px;
    
}


/* Parte Direita: Classificações Adicionais */
.classificacoes_adicionais {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0;
    margin-right: 20px;
    margin-top: 70px;
}

/* Critério de Avaliação */
.criterio_avaliacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

/* Nome do Critério */
.nome_criterio {
    flex: 2;
    font-size: 14px;
    color: #333;
}

/* Estrelas do Critério */
.estrelas_criterio {
    flex: 1;
    font-size: 16px;
    color: #f5a623;
    text-align: center;
    margin-left: 70px;
}

/* Valor do Critério */
.valor_criterio {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}







/*************************
    Secção em destaque
*************************/
.em_destaque {
    padding: 20px;
    background-color: #f4f8f8;
    margin-top: 20px;
    
}

.titulo_destaque {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Lista de Tags */
.lista_destaque {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    row-gap: 30px;
}

/* Tags Individuais */
.tag_destaque {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.tag_destaque:hover {
    background-color: #e0f0ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}